git+ssh://lseagle@lsgit.uk/~/lsgit.uk/pylinnworks.git@old_api
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/stclocal.git@v1.5
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/weights_db.git@v1.0
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/linnworks_db.git@v1.0
termcolor
colorama
